* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 0 14px;
  margin: 0 auto;
}
.header__navbar-list .icon {
  display: none;
}
.header__navbar-list a {
  display: block;
  text-align: center;
}
.header__navbar {
  display: flex;
}
.header__navbar-button {
  position: absolute;
  right: 20px;
  top: 19px;
}
.header__navbar-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  
}
.header__navbar-list {
  width: 1440px;
  height: 65px;
  list-style: none;
  padding-left: 0;
  margin: 4px 107px 0 242px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sw__logo img {
  width: 132.4px;
  height: 32px;
}
.header-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  background: #283583;
  box-shadow: 0px 4px 20px rgba(203, 64, 47, 0.341542);
  border-radius: 15px;
  color: #ffffff;
  width: 134px;
  height: 30px;
  border: none;
}
.advise {
  /* width:100%; */
  margin-left: 302px;
  margin-top: 160px;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #283583;
}
.background p {
  margin-top: 80px;
  margin-left: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  color: #818182;
}
.scrolldown p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.scrolldown {
  text-align: center;
  margin-top: 26px;
  margin-left: 60px;
}
.scrolldown img {
  margin-bottom: 12px;
}
.about-us {
  text-align: center;
}
.about-us img {
  width: 458px;
  margin-top: 85px;
  margin-left: 60px;
}
.about-us p {
  margin-top: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #818182;
  width: 1140px;
}
.about__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  width: 240px;
  padding: 2.5px 0;
  margin-top: 31px;
  border-radius: 15px;
  background: #283583;
  box-shadow: 0px 7px 20px rgba(144, 144, 144, 0.798432);
  border: none;
  margin-left: 15px;
}
.team {
  width: 1142px;
}
.team__text h2 {
  margin-top: 228px;
  width: 1142px;
  font-weight: 400;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  color: #020202;
}
.team__text p {
  width: 588px;
  margin-left: 294px;
  margin-top: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #818182;
}
.member1 {
  display: flex;
  padding-top: 40px;
  width: 100%;
  margin: 20px;
}
.member {
  display: flex;
  justify-content: space-between;
  margin-right: 4px;
}
.member__content {
  margin-left: 15px;
}
.member img {
  margin-right: 10px;
}
.member__content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  width: 360px;
  color: #eb5b49;
}
.member__content button {
  background: #283583;
  border-radius: 15px;
  width: 229px;
  height: 32px;
  border: none;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0px 7px 20px rgba(144, 144, 144, 0.798432);
}
.member__content p {
  width: 360px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #818182;
}
.process {
  width: 1202px;
}
.process__text h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 32px;
  width: 1140px;
  text-align: center;
  color: #020202;
  margin-top: 209px;
  margin-left: 32px;
}
.process__text p {
  width: 628px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #818182;
  margin-left: 286px;
  margin-top: 35px;
}
.infographie {
  margin-top: 204px;
  width: 1202px;
}
.row {
  justify-content: space-between;
  width: 1014px;
  margin-left: 15px;
  margin-bottom: 66px;
  display: flex;
}
.menu {
  background: #fdfdfd;
  box-shadow: 0px 4px 21px rgba(97, 97, 97, 0.233752);
  border-radius: 10px;
  width: 226px;
  height: 235px;
  justify-content: space-between;
}
.menu p {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #929292;
  width: 171px;
  height: 168px;
  margin-left: 31px;
}
.menu h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #283583;
  mix-blend-mode: normal;
  opacity: 0.68;
  margin-left: 31px;
  margin-top: 32px;
}
.row-bottom {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  margin-left: 190px !important;
  margin-top: 113px;
}
.stats__tittle {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #818182;
  margin-top: 130px;
  width: 1140px;
  margin-left: 24px;
}
.stats__list {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin-top: 52px;
  margin-left: 34px;
}
.stats__list-project {
  background: #149020;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185547);
  border-radius: 10px;
  width: 358px;
  align-items: center;
  padding-top: 60px;
}
.stats__list h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  width: 358px;
  height: 65px;
}
.stats__list p {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
  height: 71px;
}
.solutions {
  padding-bottom: 141px;
  margin-top: 40px;
}
.solutions__option {
  justify-content: space-between;
  display: flex;
  width: 970px;
  margin-left: 115px;
  margin-top: -45px;
}
.solutions img {
  width: 156px;
  margin-top: 78px;
}
.solutions__text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #818182;
  width: 1140px;
  margin-top: 78px;
}
.news {
  margin-top: 44px;
  width: 1140px;
  display: flex;
}
.news__img {
  border: 1px solid #f2f2f2;
  width: 360px;
  margin: 15px;
}
.news__img img {
  width: 360px;
}
.news__img h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 235px;
  height: 43px;
  color: #000000;
  margin-top: 19px;
  margin-left: 19px;
}
.news__tittle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.news-button {
  padding-bottom: 67px;
  text-align: center;
  margin-left: 50px;
}
.news-button button {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  background: #283583;
  box-shadow: 0px 7px 20px rgba(144, 144, 144, 0.798432);
  border-radius: 15px;
  border: none;
  width: 316px;
  padding: 1px 0;
  margin-top: 69px;
}
.object {
  display: flex;
}
.object img {
  width: 29px;
  height: 29px;
  margin-left: 17px;
}
.object p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 96px;
  color: #848484;
  height: 19px;
  margin-top: 6px;
  margin-left: 8px;
}
.time img {
  width: 12px;
  height: 11px;
  margin-top: 9px;
  margin-right: 4px;
}
.time p {
  width: 69px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  height: 19px;
  color: #848484;
  margin-top: 4px;
}
.apply {
  margin-top: 204px;
  width: 1140px;
}
.apply__tittle h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  color: #020202;
  height: 67px;
}
.apply__tittle p {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #818182;
  width: 628px;
  margin-left: 290px;
}
.apply-form {
  display: flex;
  justify-content: space-around;
}
.form {
  width: 362px;
  margin-left: 52px;
}
.form-input {
  width: 363px;
  margin-bottom: 32px;
}
.form-input span {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}
.form-input input {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  width: 361px;
  height: 41px;
  margin-top: 12px;
}
.upload {
  width: 945px;
  margin-left: 130px;
  margin-top: 32px;
}
.upload label {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #030303;
}
.upload-input {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  width: 945px;
  height: 181px;
  margin-top: 12px;
  text-align: center;
}
.upload__text {
  margin-top: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #818182;
}
.upload-file {
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #283583;
  border-bottom: 1px solid #283583;
  width: 190px;
  margin-left: 40%;
}
.problem {
  width: 945px;
  margin-left: 130px;
  margin-top: 32px;
}
.problem span {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #030303;
}
.problem input {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  width: 945px;
  height: 120px;
  margin-top: 12px;
}
.upload-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a2a2a2;
  width: 720px;
  height: 84px;
  margin-top: 46px;
  margin-left: 130px;
}
.upload-button {
  text-align: end;
  width: 96%;
}
.upload-button button {
  width: 228px;
  padding: 4px 0;
  background: #149020;
  box-shadow: 0px 4px 20px rgba(40, 53, 131, 0.341542);
  border-radius: 15px;
  letter-spacing: 0.444444px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  margin-top: 23px;
}
footer {
  background: #149020;
  height: 157px;
  display: flex;
  margin-top: 219px;
}
.footer-img {
  width: 165px;
  margin-top: 52px;
  margin-left: 126px;
}
.footer-menu {
  display: flex;
}
.footer-menu li {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  color: #ffffff;
}
.left {
  margin-left: 56px;
  margin-top: 44px;
}
.right {
  margin-left: 101px;
  margin-top: 44px;
}
.Privacy-Policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 186px;
  margin-top: 63px;
  padding-right: 32px;
}
.footer-language {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  margin-top: 63px;
  padding-left: 10px;
}
.footer-language img {
  color: white;
  width: 19px;
  height: 10px;
  margin-left: 15px;
}
.social {
  border-radius: 4px;
  background: #149020;
  margin-top: 60px;
  margin-left: 67px;
  width: 118px;
  justify-content: space-between;
  display: flex;
}
/* smartphone */
@media screen and (min-width: 420px) and (max-width: 767px) {
  .container {
    margin: 0;
    padding: 0;
  }
  .header{
    width: 100%;
  }
  .header-button {
    right: 8px;
  }
  .header__navbar-list {
    justify-content: space-between;
    margin: 4px 55px 0 0;
    padding-left: 0;
    display: flex;
    width: 376px;
  }

  .advise {
    margin-left: 0;
    text-align: center;
  }
  .background h1 {
    width: 100%;
  }
  .background p {
    margin: 0 auto;
    font-size: 18px;
  }
  .team {
    width: 100%;
    margin: 0 auto;
  }
  .team__text h2 {
    width: 100%;
    line-height: 45px;
  }
  .team__text p {
    width: 100%;
    margin-left: 0;
  }
  .about-us p {
    width: 100%;
  }
  .about-us img{
    width: 100%;
    margin-left: 0;
  }
  .member {
    width: 100%;
    flex-direction: column;
  }
  .member__image{
    width: 90%;
  }
  .member1 {
    display: grid;
    width: 90%;
  }
  .member__content{
    margin-left: 0;
    width: 100%;
  }
  .member__content p {
    width: 95%;
  }
  .member1 {
    width: 100%;
    margin: 0;
  }
  .process {
    width: 100%;
  }
  .process__text h2 {
    width: 100%;
    margin-left: 0;
  }
  .process__text p {
    width: 100%;
    margin-left: 0;
  }
  .stats__tittle {
    width: 100%;
    margin-left: 0;
  }
  .stats__list {
    display: grid;
    row-gap: 80px;
    margin: 12px auto;
    width: 70%;
  }
  .news {
    display: grid;
    width: 85%;
    margin: 0 auto;
  }
  .news-button {
    margin-left: 0;
  }
  .solutions__text P {
    width: 100%;
  }
  .solutions__option {
    width: 42%;
    margin: 0 auto;
    display: grid;
  }
  .apply {
    width: 100%;
  }
  .apply__tittle p {
    width: 100%;
    margin-left: 0;
  }
  .apply-form {
    flex-direction: column;
  }
  .form {
    margin-left: 0;
  }
  .form-input input {
    width: 330px;
  }
  .upload {
    margin:0 auto;
    width: 100%;
  }
  .upload-input {
    width: 100%;
  }
  .upload-file {
    margin-left: 22%;
  }
  .upload-text p {
    margin-left: 0;
    width: 380px;
  }
  .upload-button {
    width: 100%;
  }
  .problem {
    margin:0 auto;
    width: 100%;
  }
  .problem input {
    width: 100%;
  }
  .infographie {
    width: 100%;
  }
  .row {
    display: grid;
    flex-direction: column ;
    margin-left: 20%;
    text-align: center;
    width: 100%;
  }
  .col-3{
    width: 45% !important;
    margin: 20px auto;
  }
  .menu{
    width: 100%;
  }
  .row-bottom {
    display: grid;
    margin-left: 20%;
    width: 100%;
    margin-left: 40px !important;
  }
  .footer-img {
    margin-left: 0;
  }
  .left, .right {
    margin-left: 0;
  }
  .Privacy-Policy {
    display: none;
  }
  .footer-language {
    display: none;
  }
  .social {
    margin-left: 27px;
    width: 180px;
  }
}
/* ipad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
  }
  .container {
    padding: 0;
  }
  .member {
    flex-direction: column;
    text-align: center;
  }
  .infographie{
    width:100%;
  }
  .menu{
    margin: 10px;
  }
  .menu p{
    margin-left: 6px;
  }
  .col-3{
    width: 30%;
  }
  .row {
  width: 100%;
  margin-left: 0;
  }
  .row-bottom {
    margin-left: 5% !important;
    width: 100%;
  }
  .header__navbar-list {
    justify-content: space-evenly;
    margin: 4px 34px 0 57px;
  }
  .background p {
    margin-left: 0;
  }
  .advise {
    margin-left: 27px;
    text-align: center;
  }
  .about-us p {
    width: 100%;
  }
  .team{
    width: 696px;
  }
  .team__text p {
    width: 690px;
    margin-left: 0;
  }
  .team__text h2 {
    width: 100%;
  }
  .stats__list {
    width: 100%;
    justify-content: space-evenly;
    margin-left: 0;
  }
  .stats__list-project{
    width: 238px;
    margin: 10px;
  }
  .stats__list-project h1{
    width: 238px;
  }
  .news {
    display: grid;
    grid-template-areas: "myArea myArea ";
    width: 100%;
  }
  .news-button{
    margin-left: 0;
  }
  .apply {
    width: 100%;
  }
  .apply-form{
    display: grid;
  }
  .apply__tittle p {
    width: 100%;
    margin-left: 0;
  }
  .process{
    width: 100%;
  }
  .process__text h2 {
    width: 100%;
    margin-left: 0;
  }
  .process__text p {
    margin-left: 4%;
  }
  .stats__tittle {
    width: 100%;
  }
  .solutions__option {
    margin-left: 0;
    width:95%;
  }
  .solutions__text p {
    width: 100%;
    margin-left: 0;
  }
  .upload {
    margin-left: 0;
    width: 696px;
  }
  .upload-input{
    width: 100%;
  }
  .upload-button {
    width: 50%;
  }
  .upload-text p {
    margin-left: 0;
    text-align: start;
    width: 100%;
  }
  .problem {
    margin-left: 0;
    width: 696px;
  }
  .problem input {
    width: 100%;
  }
  .footer-img {
    margin-left: 0;
  }
  .footer-language{
    margin-top: 44px;
  }
  .footer-language-img{
    margin-right: 20px;
  }
  .Privacy-Policy {
    margin-left: 82px;
    margin-top: 44px;
  }
  .social {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .header__navbar-list{
    margin: 4px 147px 0 176px;
  }
  .advise{
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .background p{
    margin-left: 0;
  }
  .about-us p{
    width: 100%;
  }
  .stats__list, .stats__tittle {
    margin-left: 0;
    width: 960px;
  }
  .stats__list {
    display: grid;
    grid-template-areas: "myArea myArea ";
    row-gap: 80px;
    width: 100%;
    justify-content: space-evenly;
  }
  .process{
    width: 100%;
  }
  .process__text h2, .process__text p{
    width:100%;
    margin-left: 0;
  }
  .member{
    display: grid;
    margin-left: 20%;
  }
  .team{
    width: 960px;
  }
  .team__text h2, .team__text p{
    width:100%;
    margin-left: 0;
  }
  .infographie{
    width: 100%;
  }
  .row {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .row-bottom {
    margin-left: 0 !important;
    width: 100%;
  }
  .stats{
    width: 100%;
  }
  .solutions__option{
    margin-left: 0;
    width: 960px;
    justify-content: space-evenly;
  }
  .solutions__text p{
    width: 100%;
  }
  .news {
    display: grid;
    grid-template-areas: "myArea myArea ";
    margin-left: 0;
    width: 960px;
  }
  .apply{
    width: 100%;
  }
  .apply__tittle p{
    width: 100%;
    margin-left: 0;
  }
  .upload, .problem{
    margin: 40px auto;
    width: 100%;
  }
  .upload-input, .problem-input{
    margin: auto;
    width: 85%;
  }
  .problem input{
    width: 100%;
  }
  .upload-tittle{
    margin: 0 auto;
    width: 85%;
  }
  .upload-text p{
    margin: 0 auto;
    width: 85%;
  }
  .footer-img{
    margin-left: 0;
  }
  .social{
    margin-left: 50px;
  }
}
